body {
    background: #d1d3d6
}
.str-nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 5px #d1d1d1;
    background: #2a06a6
}
.str-nav .notif-count {
    color: white;
    font-style: normal;
    background: red;
    padding:0 3px;
    font-size: 0.7em;
    position: absolute;
    top: 2px;
    margin-left: 5px;
    text-align: center;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    display: block;
}
.str-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: auto;
}
.str-nav ul li {
    display: inline-table;
}
.str-nav ul li a {
    display: inline-table;
    color: #ffffff;    
    font-size: 1em;
    padding: 10px;
    text-decoration: none
}
.str-nav ul li a.active {
    background: #343434;
}
.tasks {
    padding: 15px;
}
.card {
    border-radius: 4px;
    background: #ffffff;
    margin-bottom: 10px;
}
.card.drag-active {
    cursor: pointer;
}
.card .line,
.card .line .left,
.card .line .right {
    display: flex;
    justify-content: space-between;
}

.card .deadline {
    font-size: 1em;
    padding: 0 5px;
}
.priority {
    height: 17px;
    width: 17px;
    margin: 3px;
    border-radius: 3px;
}
.card .body {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 5px;
}

.subtasks {
    background: red;
}
.subtask label {
    display: inline-table;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.subtask label input {
    position: relative;
    top: 2px;
}


.kanban-modal .content {
    width: 100%;
    background: #ffffff;
    margin: auto;
    box-shadow: 0 3px 5px #767676;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100%;
    position: fixed;
    overflow-y: auto;
}
.kanban-modal .content .header {
    padding: 10px;
    background: #efefef;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}
.kanban-modal .content .header .close {
    width: 22px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    background: #d1d1d1;
}
.kanban-modal .content .body {
    padding: 13px;
    overflow-y: auto;
}
.kanban-modal .content .footer {
    border-radius: 0 0 3px 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.kanban-modal .content .footer .btn-mark-task{
    width: 100%;
    border: none;
    background: #1b6330;
    color: #ffffff;
    padding: 10px;
}
.kanban-modal .content .footer .btn-mark-task.waiting {
    background: burlywood;
}
.kanban-modal .content .footer .btn-mark-task.waiting:active {
    background: #cda571;
}
.kanban-modal .content .footer .btn-mark-task.completed {
    background: #398e60;
}
.kanban-modal .content .footer .btn-mark-task:active {
    background: #175a2b
}
.kanban-modal .str-collapse .tab {
    background: #d1d1d1;
    width: 100%;
    box-shadow: 0 3px 5px #d1d1d1;
    margin-bottom: 5px;
}
.kanban-modal .str-collapse .tab .title {
    padding: 5px 10px;
    background: #0061ff;
    display: flex;
    justify-content: space-between;
    color: #fff
}
.kanban-modal .str-collapse .tab .tab-content {
    padding: 5px 10px;
    background: #f1f1f1;
    background: #ffffff
}











.block-text {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0;
}
.block-text .dash {
    height: 1px;
    width: 100%;
    background: #d7d7d7;
    position: relative;
    top: 10px;
}
.block-text .center-text {
    width: 100%;
    text-align: center;
    font-weight: 499;
    color: #777777
}
.empty-state {
    background: white;
    text-align: center;
    box-shadow: inset 0 20px 25px #f1f1f1;
    padding: 15px;
}


.snackbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5px;
    width: 100%;
}

.snackbar .message {
    min-width: 300px;
    width: fit-content;
    background: #000000c7;
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 3px 5px #9a9a9a
}



/* Comments */
.comments {
    overflow: auto;
    max-height: 500px;
    padding: 10px !important;
}
.comments::-webkit-scrollbar {
    width: 3px;
}
.comments::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 0;
}
.comments::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 3px;
}

.comments .left,
.comments .right {
    margin-bottom: 20px;
    max-width: 280px;
}
.comments .right {
    margin-left: auto;
}
.comments .right .author,
.comments .right .date {
    text-align: right
}
.comments .left .date,
.comments .right .date {
    font-size: 12px;
    font-style: italic
}
.comments .comment {
    background: #ecf5ff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #dde8f5;
}
.comments .right .comment {
    background: #0061ff;
    color: #ffffff;
}




.uploader label {
    border: 1px dashed #d1d1d1;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}
.uploader label:hover,
.uploader label:active{
    background: #ececec
}
.uploader input {
    visibility: hidden;
}


.files-table {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin-bottom: 5px;
}
.files-table thead tr td {
    padding: 5px;
    border-bottom: 1px solid #d1d1d1;
    background: #f1f1f1
}
.files-table tbody tr td {
    padding: 5px;
    border-bottom: 1px solid #d1d1d1;
    font-size: 12px;
}
.files-table tbody tr td .button {
    padding: 5px;
    border: none;
    font-size: 10px;
    background:#ffffff;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    color: #000000;
    margin-right: 5px;
    box-shadow: 0 3px 5px #d1d1d1;
}


.notifications {
    background: #ffffff;
    width: 400px;
    position: absolute;
    right: 0;
    top: 43px;
    box-shadow: 0 3px 3px #7c7c7c;
    padding: 10px 5px;
    max-height: 600px;
    overflow: auto;
    z-index: 100;
}
.notifications .item {
    display: flex;
    margin-top: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    border-bottom: 1px solid #e1d1d1;
    padding: 5px 20px 5px 5px;
    color: #c1c1c1;
}
.notifications .close, .notifications .undo {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}
.notifications .undo {
    font-size: 11px;
    margin-right: 5px;
    margin-top: 3px;
}
.notifications .item:last-child {
    border-bottom: none;
}
.notifications .item.unread {
    border-radius: 3px;
    color: #000000;
}
.notifications .item .content .message {
    font-size: 13px;
}
.notifications .item .content .date {
    font-size: 11px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}
.notifications .item .fa {
    width: 30px;
    height: 30px;
    font-size: 20px;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
}
.notifications .item > div {
    display: table;
}
.notifications .item > div > div {
    display: table-cell;
    vertical-align: middle;
}


.completion-requested {
    background: burlywood;
    position: absolute;
    right: 10px;
    border-radius: 3px;
    bottom: -7px;
    font-size: 12px;
    padding: 2px;
    color: #ffffff;
}






