/* Input Toggler */
.input-toggle {
    display: none;
}
.input-toggle input {
    border: none;
}
.input-toggle input {
    border: none;
    padding: 0px;
}
.input-toggle input:focus {
    outline: none;
    background: #ffffff;
    border: 1px solid #d1d1d1
}

.workflow-editor .sidebar {
    position: absolute;
    top: 53px;
    z-index: 2;
    width: 250px;
    padding: 20px;
    height: 100%;
    background: #ffffff;
    border-right: 1px solid #d1d1d1;
}
.workflow-editor .main-content {
    margin-left: 250px;
}
.workflow-editor-footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    text-align: right;
    background: #ffffff;
    border-top: 1px solid #d1d1d1;
    padding: 5px;
}
.workflow-editor .main-content .workflow {
    margin-bottom: 0px;
    border-bottom: 1px solid #d1d1d1;
    transition: .3s;
    padding: 25px;
}
.workflow-editor .main-content .workflow:hover {
    box-shadow: inset 0 0 15px #e6e6e6;
}
.workflow-editor .main-content .workflow:last-of-type {
    border-bottom: none;
}
.workflow-editor .workflow .title {
    text-align: left;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px 0;
    display: block;
    letter-spacing: -0.5px;
}

/* Areas and Columns */
.workflow-editor .workflow .main {
    height: auto !important;
    overflow-x: auto;
    padding-bottom: 20px;
}
.workflow-editor .workflow .main::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
.workflow-editor .workflow .main::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 0;
}
.workflow-editor .workflow .main::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 3px;
}
.workflow-editor .workflow .content .areas {
    display: flex;

}
.workflow-editor .workflow .content .area {
    min-width: 200px;
    padding-bottom: 0px;
    display: flex;
    border-radius: 3px;
}


.workflow-editor .workflow .column {
    justify-content:center;
    background: #f7f7f7;
    text-align: center;
    align-items:center;
    position: relative;
    min-width: 200px;
    box-shadow: none;
    display: flex;
    min-height: 120px;
    padding: 7px;
    padding-top: 0;
    z-index: 1;
    margin: 0 !important;
    border: 1px dotted #d1d1d1;
}

.workflow-editor .workflow .column .fa.fa-trash {
    position: relative;
    top: 5px;
    opacity: 0.5
}
.workflow-editor .workflow .column .fa.fa-trash:hover {
    opacity: 1
}
.workflow-editor .workflow .column .name {
    font-size: 16px;
}



.columns,
.sub-columns,
.sub-columns .column {
    margin: 0 !important;
    margin-right: 0 !important;
}

.column.sub-no-child {
    margin-right: 0 !important;
}


/* Revised column fix */
.workflow-editor .workflow .columns-table .sub-columns {
    display: flex;
    margin-right: 0 !important;
}
.workflow-editor .column .faded-input {
    display: grid;  
    width: 50px;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    border: 1px solid #f0f0f0;
    padding-left: 10px;
    outline: none;
    border-radius: 3px;
    background: none;
}
.workflow-editor .column .faded-input:hover,
.workflow-editor .column .faded-input:focus {
    border: 1px solid #8c8c8c;
    background: none;
}
.workflow-editor .workflow .area-name {
    text-align:center;
    padding: 10px;
    color: #ffffff;    
}

/* Swimlane plus buttons */
.workflow-editor .column:hover .swimlane-btn{
    visibility: visible;
}
.workflow-editor .column .swimlane-btn {
    position: absolute;
    width: 100%;
    visibility: hidden;
    background: #6690ff4d;
    z-index: 150;
    cursor: pointer;
    transition: .3s
}
.workflow-editor .column .swimlane-btn.right .fa,
.workflow-editor .column .swimlane-btn.left .fa {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
}
.workflow-editor .column .swimlane-btn:hover {
    background: #519aff;
    color: #ffffff;
}
.workflow-editor .column .swimlane-btn.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    padding: 0;
    z-index: 100;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    margin: auto;
    bottom: 0px;
    border-right: 0;
    border-left: 0; 
}
.workflow-editor .column .swimlane-btn.bottom.disabled{
    opacity: .3;
}
.workflow-editor .column .swimlane-btn.left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    padding-top: 25px;
    border-bottom: none;
}
.workflow-editor .column .swimlane-btn.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    padding-top: 25px;
    border-bottom: none;
}


.column-limit {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70px;
    margin: auto;
    margin-top: 5px;
}
.column-limit span {
    display: block;
    margin-right: 4px;
}




/* Swimlane Faded Input */
.swimlane-faded-input {
    border: none;
    padding: 0;
}
.swimlane-faded-input:focus {
    border: 1px solid #d1d1d1;
    outline: none;
}



/* Swimlanes */
.swimlane-columns .areas {
    display: flex;
}
.swimlane-columns .areas .area {
    min-width: 200px;
    display: flex;
}
.swimlane-columns .swimlane-item {
    min-height: 60px;
    min-width: 200px;
    background: #ffffff;
    border: 1px dotted #d1d1d1;
}

/* Swimlane Wrapper and Delete btn */
.swimlane-wrapper {
    width: fit-content;
    position: relative;
}
.swimlane-wrapper .swimlane-delete {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    width: 30px;
    text-align: right;
    cursor: pointer;
    opacity: .6
}
.swimlane-wrapper .swimlane-delete:hover {
    opacity: 1
}
